html{
    min-height: 100%;
    position:relative;
}
body{
    margin:0;
    width:320px;
    height: 100%;
    padding-bottom:40px;
}
#room-icon{
    border-radius:50%;
    width:200px;
    height:200px;
    margin:0 auto;
    border:3px solid #ddd;
    overflow:hidden;
    display:table;
}
#room-icon div{
    display:table-cell;
    vertical-align:middle;
}
#room-icon img{
    width:200px;
}
.left-side{
    float:left;
    text-align:left;
}
.right-side{
    float:right;
    text-align:right;
}
.name{
    display:inline-block;
}
#room-name{
    text-align:center;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.word{
    color:#888;
}
.menu{
    height:26px;
    position:absolute;
    bottom:14px;
    width:320px;
}
.menu .button{
    display:inline-block;
    border:1px solid #999;
    padding:0px 12px;
}
#bio-button,#room-button{
    color:#000;
    text-decoration:none;
}
